{% extends '::base.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block body %}

    <form action="#" method="post">
        <h1>Sign Up</h1>

        {{ form_widget(registrationForm) }}
    </form>

{% endblock %}